<%- include header %>
<a href="http://qing.blog.sina.com.cn/3721561292"><img src="images/weibo.png"></a><br/>
<a href="http://user.qzone.qq.com/1364091689/main"><img src="images/qq.png"></a><br/>
<a href="http://www.chineseteacher.ru/shasha/index.html"><img src="images/sha.png"></a><br/>
<%- include footer %>