
<%- include header%>
<form method="post">
<table>
<tr><td width="280px" align="left">
用户名：<input type="text" name="name"/></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>
密&nbsp;&nbsp;&nbsp; 码：<input type="password" name="password"/></td></tr>
<tr><td align="center">
<br/>
<input id="submit" type="submit" value="登录"/></td></tr>
</form>
<%- include footer%>