<%-include header%>
<form method="post">
<b>标题：</b><br/>
<input type="text" name="title"/><br/>
<b>标签：</b><br/>
<input id="tag1" type="text" name="tag1"/>&nbsp;&nbsp;&nbsp;<input id="tag2"  type="text" name="tag2"/>&nbsp;&nbsp;&nbsp;<input id="tag3"  type="text" name="tag3"/><br/>

<b>正文：</b><br/>
<textarea name="content" style="width:280px;height:300px;"></textarea>
		<br/><br/>
<input type="submit" value="发表"/>

</form>
<%-include footer%>