<%- include header%>
<form method="post">
<table>
<tr><td width="280px" align="left">
用户名：&nbsp;&nbsp;&nbsp;<input type="text" name="name"/></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>
密&nbsp;&nbsp;&nbsp; 码：&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password"/></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>
确认密码：<input type="password" name="password-repeat"/></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>
邮&nbsp;&nbsp;&nbsp; 箱：&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="email"/></td></tr>
<tr><td align="center">
<br/>
<input id="submit" type="submit" value="注册"/></td></tr>
</form>
<%-include footer%>